{% extends 'base.html.twig' %}

{% block title %}
    Year Counter
{% endblock %}

{% block stylesheets %}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    {{ encore_entry_link_tags('app') }}
     {#<link rel="stylesheet" href="/build/app.css">#}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn" value="Create"/>
    {{ form_end(form) }}
    {% for counter in counters %}
        <div>
            <span>{{ counter.name }}</span>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {#<script src="/build/runtime.js"></script>#}
    {#<script src="/build/app.js"></script>#}
{% endblock %}